body{
    background: #ffffff;
    margin: 0;
}


h2{
    margin-top: 65px;
    margin-bottom: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 650;
}

p, a, figcaption, li, img {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
}

footer{
    margin-top: 10px;
}

footer > a {
    color: #d62e69;
}

footer > a:hover{
    color:#4136d9;
}

footer > a:visited{
    color: rgb(83, 83, 236);
}

img{
    border: 5px solid #4d37de;
    border-radius: 5px;
}

