* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slide-image {
    width: 100%;
    height: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from {opacity: 0.4;}
    to {opacity: 1;}
}
