<header>
    <a href="index.html"><img src="images/horizontal.svg" alt="Excalibur Tees Logo" class="header-logo"></a>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./about.html">About</a></li>
            <li><a href="./serve.html">Who We Serve</a></li>
            <li><a href="./product.html">Products</a></li>
            <li><a href="./order.html">Order</a></li>
            <li><a href="./quote.html">Get a Quote</a></li>
            <li><a href="./contact.html">Contact Us</a></li>

        </ul>
    </nav>
</header>
