<footer>
    
    <nav>
        <a href="https://webpages.charlotte.edu/khicks35/">CLT Webspace</a>
        <a href="https://github.com/kateh1"> Github</a>
        <a href="https://kateh1.github.io"> Github webpage</a>
        <a href="https://www.freecodecamp.org/katehi"> FreeCodeCamp</a> 
        <a href="https://www.codecademy.com/profiles/katehi"> Codeacademy</a> 
        <a href="https://www.linkedin.com/in/kate-hicks2025/"> Linkedin</a> 
    </nav>
    <p>Designed by <a href="hicksconsulting.group/">Hicks Consulting Group</a>, Certified in <a href="https://www.freecodecamp.org/certification/katehi/responsive-web-design">Responsive Web Design</a> &#169 2024</p>

</footer>