:root {
    --white: #FAF9F6;
    --black: #1C1C1C;
    --light-grey: #e2e2e2;
    --main: #2f746b;
    --accent: #c24ae3;
    --panel: #d2cee8;
    --title-text: #204642;
    --link-text: #590371;
    --text-hover: #faff6b;
    --nav-hover: #204642;
    --button: #24292e;
    --button-hover: #ac47c8;
    --button-inactive: #474646;
}

main {
    background: var(--white);
    margin: 10px 5%;
    padding: 10px 2%;
    border-radius: 10px;
}

body {
    margin: 0;
    background-image: linear-gradient(to bottom right, var(--main), var(--accent));
}

h1 {
    color: var(--white);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    display: flex;
    justify-content: center;
    color: var(--title-text);
}

/* not currently in use? */
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: var(--title-text);
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: var(--title-text);
    margin: 0 0 20px 0;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px; 
}

a {
    text-decoration: none;
    color: var(--link-text);
    font-weight: 600;
}

a:hover {
    color: var(--text-hover);
}

/* not in use at the moment */
.tabbed {
    text-indent: 2em; 
    margin: 0; 
    line-height: 1.5;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

header nav {
    display: flex;
    gap: 15px;
    color: var(--white);
    align-items: center;
}

header nav a {
    color: var(--white);
    font-size: 20px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: var(--nav-hover);
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white);
    padding: 20px;
    bottom: 0;
    left: 0;
}

footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

footer nav a {
    text-decoration: none;
    color: var(--white);
    font-size: 20px;
    transition: color 0.3s ease;
}

footer nav a:hover {
    color: var(--nav-hover);
}

footer nav p {
    margin: 0;
}

footer p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

/* Overall project panel */
.project {
    background-color: var(--light-grey);
    padding: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Text content + video panel */
.content-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    max-width: 100%;
}

/* Text content panel */
.left-content {
    flex: 1 1 50%; /* Always 50% width */
    display: flex;
    flex-direction: column;
    background-color: var(--panel);
    border-radius: 10px;
    padding: 10px;
}

.left-content p {
    margin-bottom: 2px;
}

.left-content ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Iframe panel */
.iframe-container {
    flex: 1 1 50%; /* Always 50% width */
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 30%; /* Aspect ratio for aprox 16:9 */
    border-radius: 10px;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* Accordion button */
.accordion {
    margin-bottom: 10px;
    background-color: var(--panel);
    color: var(--title-text);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    height: 45px;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
    border-radius: 8px;
}

button {
    padding-left: 10px;
}

.active-accordion, .accordion:hover {
    background-color: var(--accent);
    color: var(--white);
}

.accordion:after {
    content: '\25B6';
    font-size: 15px;
    color: var(--title-text);
    float: right;
    margin-left: 5px;
    padding-right: 10px;
}

.accordion:hover:after {
    color: var(--white);
    transition: 0.4s;
}

.active-accordion:after {
    content: "\25BC";
    color: var(--white);
}

/* Accordion panel */
.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: var(--panel);
    border-radius: 10px;
}

.panel > .iframe-container {
    position: relative;
    width: 50%; /* Adjust as needed */
    height: 28.125%; /* Set height to 0 to maintain ratio */
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 15px;;
}

.panel > .iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px; /* Keep the rounded corners */
    border: 0; /* Optional: Remove default border */
}

.panel > figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    margin: 20px 0;
}

.panel > figure > img {
    margin-bottom: 10px;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
}

.panel > figure > figcaption {
    text-align: center; 
    color: var(--title-text);
}

/* GitHub button! */
.github-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 13px;
    margin-top: 10px;
    background-color: var(--button);
    color: var(--white);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.github-button img {
    margin-right: 12px;
}

.github-button:hover {
    background-color: var(--button-hover);
    color: var(--white);
}

/* Milsetones / documentation container */
.milestones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 0;
}

.milestones-container figure {
    text-align: center;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
    max-width: 200px; 
}

.milestones-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.milestones-container figcaption {
    margin-top: 8px;
    font-size: 14px;
    color: var(--black);
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: var(--white);
}

.semester-divider {
    background-color: var(--light-grey);
    font-weight: bold;
    text-align: center;
}

.totals-row {
    font-weight: bold;
    background-color: var(--white);
}

/* project nav buttons */
.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 35px;
}

.project-button {
    padding: 10px 20px;
    background-color: var(--button-inactive);
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.project-button:hover {
    background-color: var(--button-hover);
    color: var(--white);
}

.active-button {
    background-color: var(--main);
    color: var(--white);
    pointer-events: none;
}
